<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="username" value="umendra"></parameter>
  <parameter name="password" value="umendra"></parameter>
  <classes>
  <class name="parame.tc1"></class>
  <class name="parame.tc2"></class>  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
